<ngb-tabset>
    <ngb-tab title="{{'OTP.PERIOD.MENU.INFO' | translate}}" id="tabInfo">
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body gg-line-height">
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.INITIAL BUDGET' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            <gg-editor [isMonetary]="true" [content]="budgetPeriod.budget" [showControls]="true" (editSaved)="budgetPeriodUpdated($event)"
                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.START DATE' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            <gg-editor-date [content]="budgetPeriod.datStart" (editSaved)="datStartPeriodUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-date>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.END DATE' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            <gg-editor-date [content]="budgetPeriod.datEnd" (editSaved)="datEndPeriodUpdated($event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-date>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.CREANCE DATE' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            {{budgetAnnotation.datNextCreance | shortDate}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.ADDED LATER' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            {{budgetAnnotation.changesSum | ggCurrency}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.BUDGET BLOCKED' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            {{budgetAnnotation.blockedSum | ggCurrency}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 align-self-center">{{'OTP.PERIOD.LABEL.THAT CAN USED' | translate}}</div>
                        <div class="col-sm-6 align-self-center">
                            {{budgetAnnotation.budgetAvailable | ggCurrency}}
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="{{'OTP.PERIOD.MENU.BUDGET CHANGES' | translate}}" id="tabChanges">
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.HISTORY BUDGET' | translate}}" id="tabHistoryOfBudget" *ngIf="budgetPeriod.budgetHistory && budgetPeriod.budgetHistory.length > 0">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-2 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.BUDGET INCREMENT' | translate}}</b>
                                                    </div>
                                                    <div class="col-sm-4 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.DATE' | translate}}</b>
                                                    </div>
                                                    <div class="col-sm-3 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.COMMENT' | translate}}</b>
                                                    </div>
                                                </div>
                                                <div *ngFor="let budgetHistoryItem of budgetPeriod.budgetHistory">
                                                    <!--FOR in History items (we are in a praticular history of budget) -->
                                                    <div class="row">
                                                        <div class="col-sm-2 align-self-center">
                                                            <gg-editor [isMonetary]="true" [content]="budgetHistoryItem.budgetIncrement" [showControls]="true" (editSaved)="budgetChangeUpdated(budgetHistoryItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                        <div class="col-sm-4 align-self-center">
                                                            <gg-editor-date [content]="budgetHistoryItem.date" (editSaved)="dateBudgetChangeUpdated(budgetHistoryItem, $event)" [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-date>
                                                        </div>
                                                        <div class="col-sm-3 align-self-center">
                                                            <gg-editor [content]="budgetHistoryItem.comment" [showControls]="true" (editSaved)="commentsBudgetChangeUpdated(budgetHistoryItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.ADD BUDGET CHANGE' | translate}}" id="tabAddBudgetChange" *ngIf="authorizationStatusInfo?.isAdministrator()">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <gg-form [structure]="formStructure1" (formSaved)="SaveBudgetChange($event)"></gg-form>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="{{'OTP.PERIOD.MENU.BLOCKED AMOUNTS' | translate}}" id="tabBlocked">
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.LIST BLOCKED AMOUNT' | translate}}" id="tabListOfBlocked" *ngIf="budgetPeriod.blockedAmounts && budgetPeriod.blockedAmounts.length > 0">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-3 ">
                                                        <b>{{'OTP.PERIOD.COLUMN.AMOUNT BLOCKED' | translate}}</b>
                                                    </div>
                                                    <div class="col-sm-6 ">
                                                        <b>{{'OTP.PERIOD.COLUMN.REASON/COMMENT' | translate}}</b>
                                                    </div>
                                                </div>
                                                <div *ngFor="let blockedAmountItem of budgetPeriod.blockedAmounts">
                                                    <!--FOR in History items (we are in a praticular history of budget) -->
                                                    <div class="row">
                                                        <div class="col-sm-3 align-self-center">
                                                            <gg-editor [isMonetary]="true" [content]="blockedAmountItem.amount" [showControls]="true" (editSaved)="blockedAmountUpdated(blockedAmountItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                        <div class="col-sm-6 align-self-center">
                                                            <gg-editor [content]="blockedAmountItem.comment" [showControls]="true" (editSaved)="blockedAmountCommentUpdated(blockedAmountItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.ADD BLOCKED AMOUNT' | translate}}" id="tabAddBlockAmount" *ngIf="authorizationStatusInfo?.isAdministrator()">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <gg-form [structure]="formStructure2" (formSaved)="saveBlockedAmount($event)"></gg-form>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>

                </div>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="{{'OTP.PERIOD.MENU.CREANCES' | translate}}" id="tabCreances">
        <ng-template ngbTabContent>
            <div class="card">
                <div class="card-body">
                    <ngb-tabset>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.LIST DE CREANCES' | translate}}" id="tabListDeCreances" *ngIf="budgetPeriod.creances && budgetPeriod.creances.length > 0">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-sm-12" [style.color]="'red'" *ngIf="creanceUpdateError">
                                                        {{'OTP.PERIOD.MSG.CREANCE ERROR' | translate}}
                                                    </div>
                                                </div>
                                                <div class="row">

                                                    <div class="col-sm-3 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.DATE DE LA CREANCE' | translate}}</b>
                                                    </div>
                                                    <div class="col-sm-3 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.DEPENSE POUR LA PERIODE' | translate}}</b>
                                                    </div>
                                                    <div class="col-sm-3 align-self-center">
                                                        <b>{{'OTP.PERIOD.COLUMN.COMMENT' | translate}}</b>
                                                    </div>
                                                </div>
                                                <div *ngFor="let creanceItem of getBudgetPeriodCreances()">
                                                    <!--FOR in History items (we are in a praticular history of budget) -->

                                                    <div class="row">
                                                        <div class="col-sm-3 align-self-center">
                                                            <gg-editor-date [content]="creanceItem.date" (editSavedWithCancelOption)="dateCreanceChangeUpdated(creanceItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor-date>
                                                        </div>
                                                        <div class="col-sm-3 align-self-center">
                                                            <gg-editor [isMonetary]="true" [content]="creanceItem.amount" [showControls]="true" (editSavedWithCancelOption)="depenseCreanceChangeUpdated(creanceItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                        <div class="col-sm-3 align-self-center">
                                                            <gg-editor [content]="creanceItem.description" [showControls]="true" (editSaved)="commentCreanceChangeUpdated(creanceItem, $event)"
                                                                [readOnly]="!authorizationStatusInfo?.isAdministrator()"></gg-editor>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                        <ngb-tab title="{{'OTP.PERIOD.MENU.ENTER UNE NOUVELLE CREANCE' | translate}}" id="tabEnterNouvelleCreance" *ngIf="authorizationStatusInfo?.isAdministrator()">
                            <ng-template ngbTabContent>
                                <div class="card">
                                    <form [formGroup]="nouvelleCreanceForm" (ngSubmit)="SaveNouvelleCreance(nouvelleCreanceForm.value, nouvelleCreanceForm.valid)">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="form-group row">
                                                    <div class="col-sm-3 align-self-center">{{'OTP.PERIOD.LABEL.DATE DE LA CREANCE' | translate}}</div>
                                                    <div class="col-sm-7 align-self-center">
                                                        <gg-editor-date [content]="" (editSaved)="dateNouvelleCreanceInForm($event)"></gg-editor-date>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label for="depenseNouvelleCreance" class="col-sm-3 col-form-label col-xl-3">{{'OTP.PERIOD.LABEL.DEPENSE POUR LA PERIODE' | translate}}</label>
                                                    <div class="col-sm-7">
                                                        <input type="number" min="0" step="any" class="form-control" formControlName="depenseNouvelleCreance" id="depenseNouvelleCreance"
                                                            placeholder="{{'OTP.PERIOD.LABEL.DEPENSE POUR LA PERIODE' | translate}}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 align-self-center">{{'OTP.PERIOD.LABEL.COMMENT' | translate}}</div>
                                                    <div class="col-sm-7 align-self-center">
                                                        <input type="text" class="form-control" formControlName="commentNouvelleCreance" id="commentNouvelleCreance" placeholder="{{'OTP.PERIOD.LABEL.COMMENT' | translate}}">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-success" type="submit" [disabled]="!nouvelleCreanceForm.valid">{{'FORM.SUBMIT' | translate}}</button>
                                                    </div>
                                                    <div class="col-sm-3 col-md-2 col-lg-2">
                                                        <button class="btn btn-info" [disabled]="nouvelleCreanceForm.pristine" (click)="resetNouvelleCreance()">{{'FORM.RESET' | translate}}</button>
                                                    </div>
                                                    <div class="col-sm-5 col-md-7 col-lg-7" [style.color]="'red'" *ngIf="creanceFormError">
                                                        {{'OTP.PERIOD.MSG.CREANCE ERROR' | translate}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>