<div class="card" *ngIf="person">
    <div class="card-body">
        <h5>Teambuilder: bienvenu(e) {{person.data.firstName}} {{person.data.name}}</h5>
        <br/>
        <ngb-tabset>
            <ngb-tab title="{{'PUBLIC.TEAMBUILDER.TASKS.MENU.TASKS TODO' | translate}}" id="tabTasks">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <p>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.LIST TASKS' | translate}}</p>


                            <ng-content select="[taskDescription]"></ng-content>

                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'PUBLIC.TEAMBUILDER.TASKS.MENU.ABOUT MYSELF' | translate}}" id="tabMyself">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <gg-giga-person-detail [noSecurity]="true" [personId]="myPersonId"></gg-giga-person-detail>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tabPersons" *ngIf="((personsObservable | async) || []).length > 0">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="'PUBLIC.TEAMBUILDER.TASKS.HELP.TAB TIP LISTE' | translate">
                        {{('PUBLIC.TEAMBUILDER.TASKS.MENU.THE' | translate) + ' ' + (personTypeDescriptionKey | translate) + ' (' + ((personsObservable | async) || []).length + ')'}}  
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-giga-person-list [personsObservable]="personsObservable" [noSecurity]="true"></gg-giga-person-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tabPersonSelection" *ngIf="personneIds">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="'PUBLIC.TEAMBUILDER.TASKS.HELP.TAB TIP SELECT' | translate">
                        {{('PUBLIC.TEAMBUILDER.TASKS.MENU.SELECT PERSONS' | translate) + ' ' + (personTypeDescriptionKey | translate)}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-giga-persons-selection [selectedPersonIds]="personneIds" (selectionChanged)="selectionChanged($event)"></gg-giga-persons-selection>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tabOptional" *ngIf="optionTabTitleKey">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="optionTabTipKey ? (optionTabTipKey | translate) : ''">
                        {{(optionTabTitleKey | translate)}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <ng-content select="[optionalTab]"></ng-content>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

    </div>
</div>