<gg-search-box [objectTypeTranslationKey]="'GENERAL.USERS'" [objectsObservable]="personsObservable" [fnFilterObjects]="fnFilter"
 (listChanged)="persons=$event">
	<ul searchHelp>
		<li>{{'PUBLIC.TEAMBUILDER.PERSONS.SEARCH HELP.MSG1' | translate}}</li>
		<li>{{'PUBLIC.TEAMBUILDER.PERSONS.SEARCH HELP.MSG2' | translate}}</li>
	</ul>
	<ngb-accordion accordion [closeOthers]="true" #acc="ngbAccordion" (panelChange)="beforeAccordionChange($event)" [activeIds]="openPanelId">
		<ngb-panel [disabled]="true">
			<ng-template ngbPanelTitle>
				<div class="row">
					<div class="col-sm-2">
						<b>{{'USER.COLUMN.FULL NAME' | translate}}</b>
					</div>
					<div class="col-sm-3">
						<b>{{'PUBLIC.TEAMBUILDER.PERSONS.COLUMN.UNIT PROJECT' | translate}}</b>
					</div>
					<div class="col-sm-3">
						<b>{{'PUBLIC.TEAMBUILDER.PERSONS.COLUMN.FUNCTIONS' | translate}}</b>
					</div>
					<div class="col-sm-3">
						<b>{{'PUBLIC.TEAMBUILDER.PERSONS.COLUMN.MISC' | translate}}</b>
					</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
			</ng-template>
		</ngb-panel>
		<ngb-panel *ngFor="let person of persons" [id]="person.data._id">
			<ng-template ngbPanelTitle>
				<div class="row" id="{{person.data._id}}">
					<div class="col-sm-2" [style.font-weight]="person.data._id === openPanelId ? 'bold' : 'lighter'">{{person.annotation.fullName}}</div>
					<div class="col-sm-3">
						<span *ngIf="person.annotation.unit">{{person.annotation.unit.name || person.annotation.unitHead}}</span>
						<span *ngIf="person.annotation.team">{{', ' + (person.annotation.team.name ||  person.annotation.teamHead)}}</span>
					</div>
					<div class="col-sm-3">
						<span *ngIf="!person.data.functionNewIds || person.data.functionNewIds.length===0" [style.color]="'red'">{{'PUBLIC.TEAMBUILDER.PERSONS.COLUMN.FUNCTION MISSING' | translate}}</span>
						<span *ngIf="person.data.functionNewIds && person.data.functionNewIds.length>0">{{person.annotation.functionsTxt}}</span>
					</div>
					<div class="col-sm-3">
						<span *ngIf="person.annotation.piTypeTxt">{{person.annotation.piTypeTxt}}</span>
<!-- 						<span *ngIf="!person.data.functionNewIds || person.data.functionNewIds.length===0">{{person.annotation.functionsTxt}}</span>
 -->					</div>
					<div class="col-sm-1">
						<span *ngIf="person.data.hasLeft" [style.color]="'red'">{{'PUBLIC.TEAMBUILDER.PERSONS.COLUMN.LEFT' | translate}}</span>
					</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<gg-giga-person-detail [personId]="person.data._id" [noSecurity]="noSecurity" ></gg-giga-person-detail>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</gg-search-box>