<gg-search-box [objectTypeTranslationKey]="'GENERAL.UNITS'" [objectsObservable]="unitsObservable" [fnFilterObjects]="fnFilter" (listChanged)="units=$event" *ngIf="personsMap">
	<ul searchHelp>
		<li>{{'PUBLIC.TEAMBUILDER.ORGANI.SEARCH HELP.MSG1' | translate}}</li>
	</ul>
	<ngb-accordion accordion [closeOthers]="true" #acc="ngbAccordion">
		<ngb-panel [disabled]="true">
			<ng-template ngbPanelTitle>
				<div class="row">
                    <div class="col-sm-3"><b>{{'PUBLIC.TEAMBUILDER.ORGANI.COLUMNS.UNIT NAME' | translate}}</b></div>
                    <div class="col-sm-3"><b>{{'PUBLIC.TEAMBUILDER.ORGANI.COLUMNS.DIRECTOR NAME' | translate}}</b></div>
                    <div class="col-sm-3"><b>{{'PUBLIC.TEAMBUILDER.ORGANI.COLUMNS.NB PERSONS' | translate}}</b></div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
			</ng-template>
		</ngb-panel>
		<ngb-panel *ngFor="let unit of units" [id]="unit.data._id">
			<ng-template ngbPanelTitle>
				<div class="row" id="{{unit.data._id}}">
                        <div class="col-sm-3">{{unit.data.name || getPersonName(unit.data.directorId)}}</div>
                        <div class="col-sm-3">{{getPersonName(unit.data.directorId)}}</div>
                        <div class="col-sm-3">{{unit.annotation.nbPersons}}</div>
				</div>
			</ng-template>
			<ng-template ngbPanelContent>
				<gg-organi-unit-detail [unitObservable]="getUnitObservable(unit.data._id)" ></gg-organi-unit-detail>
			</ng-template>
		</ngb-panel>
	</ngb-accordion>
</gg-search-box>






