<div class="card" *ngIf="unit && director">
    <div class="card-body">
        <h5>
            <span [style.color]="'red'">Research unit</span>: {{unit.data.name || director.annotation.fullName || 'not named yet' }} </h5>
        <br/>
        <ngb-tabset>
            <ngb-tab title="{{'PUBLIC.TEAMBUILDER.ORGANI.MENU.ABOUT UNIT' | translate}}" id="tabInfoUnit">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3 align-self-center">{{'PUBLIC.TEAMBUILDER.ORGANI.LABEL.UNIT NAME' | translate}}:</div>
                                <div class="col-sm-6 align-self-center">
                                    <gg-editor [content]="unit.data.name" [showControls]="true" (editSaved)="nameUpdated($event)" [readOnly]="!isMyUnit()"></gg-editor>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="{{'PUBLIC.TEAMBUILDER.ORGANI.MENU.ABOUT DIRECTOR' | translate}}" id="tabMyself">
                <ng-template ngbTabContent>
                    <div class="card">
                        <div class="card-body">
                            <gg-giga-person-detail [personId]="directorId"></gg-giga-person-detail>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tabLabos" *ngIf="((labosObservable | async) || []).length > 0">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="''">
                        {{('PUBLIC.TEAMBUILDER.ORGANI.MENU.LABOS' | translate) + ' (' + ((labosObservable | async) || []).length + ')'}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-organi-labo-list [labosObservable]="labosObservable"></gg-organi-labo-list>
                </ng-template>
            </ngb-tab>
            <ngb-tab id="tabTeams" *ngIf="((teamsObservable | async) || []).length > 0">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="''">
                        {{('PUBLIC.TEAMBUILDER.ORGANI.MENU.TEAMS' | translate) + ' (' + ((teamsObservable | async) || []).length + ')'}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-organi-team-list [teamsObservable]="teamsObservable"></gg-organi-team-list>
                </ng-template>
            </ngb-tab>
            <!--             <ngb-tab id="tabDirectors" *ngIf="((personsLabDirectorsObservable | async) || []).length > 0">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="'PUBLIC.TEAMBUILDER.ORGANI.MENU.LABO HEADS TIP' | translate">
                        {{('PUBLIC.TEAMBUILDER.ORGANI.MENU.THE' | translate) + ' ' + ('PUBLIC.TEAMBUILDER.ORGANI.MENU.LABO HEADS' | translate) + '
                        (' + ((personsLabDirectorsObservable | async) || []).length + ')'}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-giga-person-list [personsObservable]="personsLabDirectorsObservable"></gg-giga-person-list>
                </ng-template>
            </ngb-tab>
 -->
            <ngb-tab id="tabMembers" *ngIf="((personsMembersObservable | async) || []).length > 0">
                <ng-template ngbTabTitle>
                    <span [ngbTooltip]="'PUBLIC.TEAMBUILDER.ORGANI.MENU.UNIT MEMBERS TIP' | translate">
                        {{('PUBLIC.TEAMBUILDER.ORGANI.MENU.UNIT MEMBERS' | translate) + ' (' + ((personsMembersObservable | async) || []).length
                        + ')'}}
                    </span>
                </ng-template>
                <ng-template ngbTabContent>
                    <gg-giga-person-list [personsObservable]="personsMembersObservable"></gg-giga-person-list>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</div>