<div *ngFor="let piType of piTypes" class="radio">
    <label>
        <input type="radio" name="piType" [ngModel]="thisPerson.data.piType" (click)="piTypeChanged(piType.value)" [value]="piType.value" [disabled]="!hasRights()"
        />{{' ' + piType.display}}
    </label>
</div>
<div *ngIf="askForDependentPi && thisPerson && thisPerson.data.piType==='API'" class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
            <span [style.color]="thisPerson.data.piDependingOnId ? 'black' : 'red'">{{'PUBLIC.TEAMBUILDER.TASKS.HELP.PIS.CHOOSE DEPENDENT PI' | translate}}</span>
            <gg-editor-autocomplete [timeoutSeconds]="5" [selectableData]="piListObservable" [selectedId]="thisPerson.data.piDependingOnId" (idChanged)="piDependingOnUpdated($event)" [readOnly]="!hasRights()">

            </gg-editor-autocomplete>        
    </div>
</div>
