<div class="card" *ngIf="thisPersonId && thisUnit">
    <div class="card-body">
        <gg-giga-person-task [personsObservable]="personsObservable" [myPersonId]="thisPersonId" [personTypeDescriptionKey]="'PUBLIC.TEAMBUILDER.TASKS.MENU.PRINCIPAL INVESTIGATOR'"
            (personsSelectionChanged)="personsSelectionChanged($event)">


            <ul taskDescription>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.ENTER PIS' | translate}}</li>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.A MAIL WILL BE SENT' | translate}}</li>

                <li *ngFor="let pi of pisToSpecify">
                    <span [innerHtml]="'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.INDICATE PI TYPE' | translate:{person:pi.annotation.fullName}"></span>
                    <gg-pi-type-choice [thisPerson]="pi" [askForDependentPi]="false" [noSecurity]="true"></gg-pi-type-choice>
                </li>
                <li>
                    <div>
                        <label>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.ENTER TRU NAME' | translate}}</label>
                        <gg-editor [content]="thisUnit.name" [showControls]="true" [timeoutSeconds]="5" (editSaved)="truNameChanged($event)"></gg-editor>
                    </div>
                </li>
            </ul>

        </gg-giga-person-task>
    </div>
</div>