<div class="card" *ngIf="thisPersonId && thisUnit">
    <div class="card-body">
        <h5>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.QUESTIONS TRUD' | translate}}</h5>

        <gg-giga-person-task [personsObservable]="personsObservable" [myPersonId]="thisPersonId" [personTypeDescriptionKey]="'PUBLIC.TEAMBUILDER.TASKS.MENU.DIRECTORS OF LABS'"
            (personsSelectionChanged)="personsSelectionChanged($event)">


            <ul taskDescription>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.ENTER LABDIRS' | translate}}</li>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.A MAIL WILL BE SENT' | translate}}</li>

                <li>
                    <div>
                        <label>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.TRUD.ENTER TRU NAME' | translate}}</label>
                        <gg-editor [content]="thisUnit.name" [showControls]="true" [timeoutSeconds]="5" (editSaved)="truNameChanged($event)"></gg-editor>
                    </div>
                </li>
            </ul>

        </gg-giga-person-task>
    </div>
</div>