<div class="card" *ngIf="thisPersonId">
    <div class="card-body">
        <h5>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.QUESTIONS HEAD' | translate}}</h5>
        
        <gg-giga-person-task [personsObservable]="personsObservable" [myPersonId]="thisPersonId" [personTypeDescriptionKey]="'PUBLIC.TEAMBUILDER.TASKS.MENU.DIRECTORS OF THEMATIC UNIT'"
            (personsSelectionChanged)="personsSelectionChanged($event)">


            <ul taskDescription>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.HEAD.ENTER UNITS HEAD' | translate}}</li>
                <li>{{'PUBLIC.TEAMBUILDER.TASKS.HELP.HEAD.A MAIL WILL BE SENT' | translate}}</li>
            </ul>

        </gg-giga-person-task>
    </div>
</div>